@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
}
.screenshots h1{
    font-family: Exo;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    background-color: #0079ca;
    border-radius: 180px;
    margin: 10px;
    padding: 5px;
}
.HlavniNadpis{
    font-family: Exo;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    background-color: none;
    padding: 20px;
}
h2{
    font-family: Exo;
    font-size: 40px;
}

nav{
    background-color: rgb(33, 33, 33);
    padding: 20px;
}
.navUl{
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
.navLi{
    margin-left: 20px;
    display: inline;
    font-size: 25px;
}
.navA{
    text-decoration: none;
    color: white;
}
.navA:visited{
    color: white;
}
.navA:hover{
    text-decoration: underline;
}



.color{
    background-color: #0079ca;  
    height: 20px;
}

main{
    
    background-color: #0099ff;
}
.games ul{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    list-style-type: none;
    color: white;
    font-size: 30px;
    font-family: Exo;
    text-align: center;
}
.games a{
    text-decoration: none;
    color: white;
}
.games img{
    border-radius: 20px;
    height: 300px;
    width: 300px;
}
.screenshots h1
{
    display: flex;
    justify-content: center;
    color: white;
}
.screenshots{
    text-align: center;
}
.screenshots p{
    color: white;
    padding: 20px;
    font-size: 30px;
    line-height: 1.6;
}

.screenshots img{
    height: 200px;
    
    background-color: #0079ca;
    padding: 10px;
    border-radius: 30px;
}

.sectionBackground{
    display: flex;
    justify-content: center;
    background-color: #e1edee;
    border-radius: 180px;
    width: 50vh;
    margin: 20px;
    padding: 5px;
    margin-left: 75vh;
}

/*Footer*/
footer{
    color: white;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    text-align: right;
}

/*-----------------------------------------------*/
@media (max-width: 376px){

    *{
        margin: 0px;
    }
    .screenshots h1{
        font-family: Exo;
        text-align: center;
        text-decoration: underline;
        font-size: 40px;
        background-color: #0079ca;
        border-radius: 180px;
        margin: 10px;
        padding: 5px;
    }
    .HlavniNadpis{
        font-family: Exo;
        text-align: center;
        text-decoration: underline;
        font-size: 40px;
        background-color: none;
        padding: 20px;
    }
    h2{
        font-family: Exo;
        font-size: 30px;
    }
    
    nav{
        background-color: rgb(33, 33, 33);
        padding: 20px;
    }
    .navUl{
        display: flex;
        justify-content: center;
    }
    .navLi{
        margin-left: 20px;
        display: inline;
        font-size: 25px;
    }
    .navA{
        text-decoration: none;
        color: white;
    }
    .navA:visited{
        color: white;
    }
    .navA:hover{
        text-decoration: underline;
    }
    
    
    
    .color{
        background-color: #0079ca;  
        height: 20px;
    }
    
    main{
        
        background-color: #0099ff;
    }
    .games ul{
        display: inline-flex;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        color: white;
        font-size: 20px;
        font-family: Exo;
        text-align: center;
        padding: 0;
    }
    .games a{
        text-decoration: none;
        color: white;
    }
    .games img{
        border-radius: 20px;
        height: 100px;
        width: 100px;
    }
    .screenshots h1
    {
        display: flex;
        justify-content: center;
        color: white;
    }
    .screenshots{
        text-align: center;
    }
    .screenshots p{
        color: white;
        padding: 20px;
        font-size: 18px;
        line-height: 1.6;
    }
    
    .screenshots img{
        width: 340px;
        background-color: #0079ca;
        padding: 10px;
        margin: 5px;
        border-radius: 30px;
    }
    
    .sectionBackground{
        display: flex;
        justify-content: center;
        background-color: #e1edee;
        border-radius: 180px;
        margin: 20px;
        padding: 5px;
    }
    
    /*Footer*/
    footer{
        color: white;
        background-color: rgb(33, 33, 33);
        padding: 10px;
        text-align: right;
    }





}

/*------------------IPADDDDDDDDDDDDDDD----------------------*/

@media (min-width: 377px) and (max-width: 769px){

    *{
        margin: 0px;
        
    }
    html{
        width: 100%;
    }
    .screenshots h1{
        font-family: Exo;
        text-align: center;
        text-decoration: underline;
        font-size: 40px;
        background-color: #0079ca;
        border-radius: 180px;
        margin: 10px;
        padding: 5px;
        margin-left: 192px;
    }
    .HlavniNadpis{
        font-family: Exo;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
        width: 50vh;
        margin-left: 128px;
    }
    h2{
        font-family: Exo;
        font-size: 30px;
    }
    
    nav{
        background-color: rgb(33, 33, 33);
        padding: 20px;
    }
    .navUl{
        display: flex;
        justify-content: center;
    }
    .navLi{
        margin-left: 20px;
        display: inline;
        font-size: 25px;
    }
    .navA{
        text-decoration: none;
        color: white;
    }
    .navA:visited{
        color: white;
    }
    .navA:hover{
        text-decoration: underline;
    }
    
    
    
    .color{
        background-color: #0079ca;  
        height: 20px;
    }
    
    main{
        
        background-color: #0099ff;
    }
    .games ul{
        display: inline-flex;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        color: white;
        font-size: 30px;
        font-family: Exo;
        text-align: center;
        padding: 0;
    }
    .games a{
        text-decoration: none;
        color: white;
    }
    .games img{
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }

    .GamesDiv
    {
        max-width: 750px;
    }

    .screenshots h1
    {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 35px;
        width: 374px;
    }
    .screenshots{
        text-align: center;
    }
    .screenshots p{
        color: white;
        padding: 20px;
        font-size: 25px;
        line-height: 1.6;
    }
    
    .screenshots img{
        width: 340px;
        background-color: #0079ca;
        padding: 10px;
        margin: 5px;
        border-radius: 30px;
    }
    
    .sectionBackground{
        display: flex;
        justify-content: center;
        width: 400px;
        background-color: #e1edee;
        border-radius: 180px;
        margin: 20px;
        margin-left: 185px;
        padding: 5px;
    }
    
    /*Footer*/
    footer{
        color: white;
        background-color: rgb(33, 33, 33);
        padding: 10px;
        text-align: right;
    }





}